main {
  /* border: 1px solid red; */
  height: 100%;
}
/* all cards */
.weath_card {
  position: relative;
  padding: 23px 21px 6%;
  height: fit-content;
  display: flex;
  gap: 29px;
  justify-content: space-between;
  flex-direction: column;
}
.imgBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  object-position: center;
}
.weath-top {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.weath_top_text {
  /* border: 1px solid red; */
}
.weath_temp {
  /* border: 1px solid blueviolet; */
  font-weight: bold;
  height: 80px;
  font-size: 4.4rem;
}
.weath_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid green;
}
.weath_desc {
  width: fit-content;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  /* border: 1px solid yellow; */
}
.weath_bottom {
  height: fit-content;
  /* border: 1px solid violet; */
  display: flex;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: end;

  flex-direction: row;
}
.weath_bottom_text {
  width: 100%;

  /* border: 1px solid brown; */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.weath_place {
  font-size: 1.1rem;
  font-weight: 600;
  width: fit-content;
  height: 100%;
}
.weath_max_min {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-min);
  width: fit-content;
  height: 100%;
}
/* end all cards */

/* single card */
.single_weather {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid red;
}

.city_container {
  display: flex;
  border: 1px solid blueviolet;
  justify-content: space-between;
}
.single_weather_city {
  height: fit-content;
}

.fa-solid.fa-location-dot {
  border: 1px solid red;
}
.icon_container {
  width: fit-content;
  height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single_weath_icon {
  object-fit: contain;
  width: 310px;
  height: 350px;
  object-position: center;
  filter: drop-shadow(2px 4px 6px black);
}

.single_weath_temp {
  font-size: 8rem;
  align-self: center;
  font-weight: bold;
}
.single_weath_desc {
}
.container_min_max_fl {
}
.single_weath_minmax {
}
.single_weath_fl {
}
.container_parametr {
}
.parametr_wind {
}
.wind_top_container {
}
.wind_num {
}
.wind_bottom_container {
}
.wind_text {
}
.parametr_humidity {
}
.hum_top_container {
}
.hum_num {
}
.hum_bottom_container {
}
.hum_text {
}
.parametr_visibility {
}
.vis_top_container {
}
.vis_num {
}
.vis_bottom_container {
}
.vis_text {
}

/* end single card */
