@import url(./header.css);
@import url(./colors.css);
@import url(./main.css);
@import url(./single-card.css);

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: "Nunito Sans", sans-serif;
}
#root {
  padding: 33px;
  transition: all 0.35s;
  display: flex;
  height: 100%;

  flex-direction: column;
  gap: 20px;
  background-image: url(../assets/Sea\ of\ Clouds.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg_image {
}

/* arancione */
@media all and (min-width: 1024px) {
  #root {
    height: 100%;

    padding: 40px 40px;
  }
}
/* verde */
@media all and (min-width: 520px) and (max-width: 1023px) {
  #root {
    padding: 0 20px;
  }
}
/* blu schermo molto piccolo */
@media all and (max-width: 350px) {
  #root {
    padding-top: 20px;
  }
}
