@import url(./header.css);
@import url(./colors.css);
@import url(./main.css);
@import url(./single-card.css);

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
#root {
  height: 100%;

  padding: 33px;
  color: var(--color-text);
  display: flex;
  scroll-behavior: auto;
  flex-direction: column;
  gap: 20px;

  background-image: url(../assets/26302.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: top center;
}
.bg_image {
}

@media all and (min-width: 1024px) {
  #root {
    height: 100%;
    margin: 0 auto;
    padding: 40px 20% 0;
    background-size: cover;
  }
}

@media all and (max-width: 1023px) and (min-width: 520px) {
  #root {
    padding: 0 20px;
  }
}
